## Jupyter hotkey 
https://towardsdatascience.com/jypyter-notebook-shortcuts-bf0101a98330

In [1]:
#print Hello Python 101
print("Hello Python 101")

Hello Python 101

## Type of data
integer, float, string, Boolean (for True and False)
True corresponds to 1 while False corresponds to 0

In [2]:
type(11)

int

In [3]:
type(21.213)

float

In [4]:
type("Hello Python 101")

str

In [5]:
float(2)

2.0

In [6]:
int(1.1)

1

In [7]:
int("1")

1

In [8]:
str(4.5)

'4.5'

In [9]:
type(True)

bool

In [10]:
bool(1)

True

In [11]:
bool(0)

False

In [12]:
int(True)

1

In [13]:
float(True)

1.0

In [14]:
float(False)

0.0

In [15]:
type(int(1.0))

int

In [16]:
bool(2)

True

In [17]:
bool(-2)

True

## Expressions and Variables

In [18]:
25/6

4.166666666666667

In [19]:
#to round them
25//6

4

In [20]:
type(6/2)

float

In [21]:
type(6//2)

int

In [22]:
x = (3+5)*10
print(x)

80

In [23]:
y = x/3
type(y)

float

In [24]:
y = x/4
print(y)
print(type(y))

20.0
<class 'float'>

## String Operations

In [25]:
Name = "Michael Jackson"
print(Name[0])
print(Name[6])
print(Name[7])
print(Name[13])

M
l

o

In [26]:
#negative index
Name = "Michael Jackson"
print(Name[-1])
print(Name[-2])
print(Name[-7])
print(Name[-8])
print(Name[-15])

n
o
J

M

In [27]:
#slicing

print(Name[0:4])
print(Name[:4])
print(Name[8:12])
print(Name[8:])

Mich
Mich
Jack
Jackson

In [28]:
#stride

print(Name[0],Name[2],Name[4],Name[6],Name[8],Name[10],Name[12],Name[14])
print(Name[::2])

M c a l J c s n
McalJcsn

In [29]:
print(Name[0],Name[2],Name[4])
print(Name[0:5:2])

M c a
Mca

In [30]:
len(Name)

15

In [31]:
Statement = Name + " is the best"
print(Statement)

Michael Jackson is the best

In [32]:
Statement_3 = 3 * Name
print(Statement_3)

Michael JacksonMichael JacksonMichael Jackson

In [33]:
print("Michael Jackson \n is the best")

Michael Jackson
 is the best

In [34]:
print("Michael Jackson \t is the best")

Michael Jackson 	 is the best

In [35]:
print("Michael Jackson \\ is the best")

Michael Jackson \ is the best

In [36]:
print(r"Michael Jackson \n is the best")

Michael Jackson \n is the best

In [37]:
Name_capslock = Name.upper()
Name_capslock

'MICHAEL JACKSON'

In [38]:
Name_capslock.lower()

'michael jackson'

In [39]:
"uppercase".upper()

'UPPERCASE'

In [40]:
Name.replace("Michael", "Janet")

'Janet Jackson'

In [41]:
Name

'Michael Jackson'

In [42]:
Name.find("el")

5

In [43]:
Name.find("Jack")

8

In [44]:
Name.find("not in the string")

-1

In [45]:
Letters="ABCDEFGHIJK"
Letters[0:4]

'ABCD'

In [46]:
Letters.find("A")

0

In [47]:
Letters.find("J")

9

In [48]:
A = "1"
B = "2"
C = A+B
C

'12'