## Lists and Tuples
Tuples are immutable

Lists are mutable

In [1]:
Tuple1 = ("disco", 10, 1.2)
type(Tuple1)

tuple

In [2]:
Tuple1[0]

'disco'

In [3]:
Tuple1[1]

10

In [4]:
type(Tuple1[2])

float

In [5]:
type(Tuple1[0])

str

In [6]:
Tuple1[-1]

1.2

In [7]:
Tuple2 = Tuple1 + ("hard rock", 10)
Tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [8]:
Tuple2[0:3]

('disco', 10, 1.2)

In [9]:
Tuple2[2:]

(1.2, 'hard rock', 10)

In [10]:
len(Tuple2)

5

In [11]:
Tuple2.index("hard rock")

3

In [12]:
Ratings = (10,9,6,5,10,8,9,6,2)
RatingsSorted = sorted(Ratings)
RatingsSorted

[2, 5, 6, 6, 8, 9, 9, 10, 10]

In [13]:
NT = (1,2, ("pop", "rock"), (3,4), ("disco", (1,2)))
NT[2]

('pop', 'rock')

In [14]:
NT[4]

('disco', (1, 2))

In [15]:
NT[2][0]

'pop'

In [16]:
NT[2][0][1]

'o'

In [17]:
NT[4][1][1]

2

In [18]:
x = NT[4][1][1]+NT[4][1][0]
x

3

In [19]:
List = ["Michael Jackson", 10.1, 1982, [1,2], ("lala",1)]

In [20]:
type(List[3])

list

In [21]:
type(List[4])

tuple

In [22]:
List[4][0]

'lala'

In [23]:
List[3:5]

[[1, 2], ('lala', 1)]

In [24]:
List2 = List + ["A","B"]
List2

['Michael Jackson', 10.1, 1982, [1, 2], ('lala', 1), 'A', 'B']

LISTS ARE MUTABLE (TUPLES ARE INMUTABLE)

In [25]:
List2.extend(["C", "D"])
List2

['Michael Jackson', 10.1, 1982, [1, 2], ('lala', 1), 'A', 'B', 'C', 'D']

In [26]:
List2[-3:-1]

['B', 'C']

In [27]:
List2.append(["E","F"])
List2

['Michael Jackson',
 10.1,
 1982,
 [1, 2],
 ('lala', 1),
 'A',
 'B',
 'C',
 'D',
 ['E', 'F']]

In [28]:
List2[-3:-1]

['C', 'D']

In [29]:
List2[-1]

['E', 'F']

In [30]:
List3 = ["disco", 10, 1.2, "test test2 test3"]
List3[0] = "hard rock"
List3

['hard rock', 10, 1.2, 'test test2 test3']

In [31]:
del(List3[0])
List3

[10, 1.2, 'test test2 test3']

In [32]:
"hard rock".split()

['hard', 'rock']

In [33]:
List3[2].split()

['test', 'test2', 'test3']

In [34]:
"A,B,C,D".split(",")

['A', 'B', 'C', 'D']

In [35]:
"A1B1C1D".split("1")

['A', 'B', 'C', 'D']

In [36]:
"AaBaCaD".split("a")

['A', 'B', 'C', 'D']

In [37]:
"AbBbCbD".split("b")

['A', 'B', 'C', 'D']

In [38]:
A = ["hard rock", 10, 1.2]
B = A
A[0] = "banana"
B

['banana', 10, 1.2]

In [39]:
A = ["hard rock", 10, 1.2]
B = A[:]
A[0] = "banana"
B

['hard rock', 10, 1.2]

In [40]:
List4 = [0,3,4,1,2,6]
sorted(List4)

[0, 1, 2, 3, 4, 6]

In [41]:
help("AbBbCbD".split("b"))

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

## Sets

In [42]:
#set does not have duplicate element
List5 = [1,2,3,2,2]
set(List5)

{1, 2, 3}

In [43]:
set1 = {"a", "b", "c"}
set1.add("d")
set1

{'a', 'b', 'c', 'd'}

In [44]:
set1.add("d")
set1.add("d")
set1.add("d")
set1.add("e")
set1

{'a', 'b', 'c', 'd', 'e'}

In [45]:
set1.remove("a")
set1

{'b', 'c', 'd', 'e'}

In [46]:
"b" in set1

True

In [47]:
"h" in set1

False

In [48]:
set2 = {"a","b","c"}
set3 = {"a","b","d"}
set4 = set2 & set3
set4

{'a', 'b'}

In [49]:
set5 = set2.union(set3)
set5

{'a', 'b', 'c', 'd'}

In [50]:
set2.difference(set3)

{'c'}

In [51]:
set4.issubset(set2)

True

In [52]:
set2.issuperset(set4)

True

In [53]:
A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))

the sum of A is: 6
the sum of B is: 3

##  Dictionaries
Below, "a", "b", "c" are the keys, and 0, 1, 2 are the values.
Values can also be string, tupple, list, and etc.

Keys have to be immutable and unique, while Valus can be immutable, mutable, and duplicates.
Key and Value pair is separated by a comma.

In [54]:
D={'a':0,'b':1,'c':2}
D["b"]

1

In [55]:
D.values()

dict_values([0, 1, 2])

In [56]:
D.keys()

dict_keys(['a', 'b', 'c'])

In [57]:
#append value to dictionary
D["d"] = 3
D

{'a': 0, 'b': 1, 'c': 2, 'd': 3}

In [58]:
#delete 
del(D["c"])
D

{'a': 0, 'b': 1, 'd': 3}

In [59]:
#to verify if "b" is in dictionary "D"
"b" in D

True