## Reading files with open

In [1]:
file1 = open("/Users/sadha/Desktop/Python/Python_Basics_for_Data_Science_(2020.09.07)/resources/Example2.txt", "w")
#"w" is for writing, "r" is for reading, "a" is for appending

print(file1.name) #result is "/resources/Example2.txt"
print(file1.mode) #to see what mode the object is in, e.g. "r", "w", "a"


print(file1.closed) #to check if file1 is closed or no
file1.close() #to close file1
print(file1.closed) #re-check

/Users/sadha/Desktop/Python/Python_Basics_for_Data_Science_(2020.09.07)/resources/Example2.txt
w
False
True

In [2]:
file1 = open("Example1.txt", "r")
FileContent = file1.read()
FileContent

'this is line1\nthis is line2\nthis is line3'

In [3]:
print(FileContent)
print("\n", type(FileContent))

file1.close()

this is line1
this is line2
this is line3

 <class 'str'>

In [4]:
with open("Example1.txt", "r") as file1:
    file_stuff = file1.read() #storing the values of the file in variable file_stuff as a string
    print(file_stuff)
print(file1.closed) #verify if file1 is closed or no
print(file_stuff) #we can still print even if file1 is closed

this is line1
this is line2
this is line3
True
this is line1
this is line2
this is line3

In [5]:
with open("Example1.txt", "r") as file1:
    file_stuff = file1.readline(2) #read first 2 characters
    print(file_stuff)
    file_stuff = file1.readline() #read the remaining characters from 1st line
    print(file_stuff)
    file_stuff = file1.readline() #read the next line fully
    print(file_stuff)
print(file1.closed)

th
is is line1

this is line2

True

In [6]:
with open("Example1.txt", "r") as file1:
    for line in file1: #loop to read line
        print(line)
print(file1.closed)

this is line1

this is line2

this is line3
True

In [7]:
with open("Example1.txt", "r") as file1:
    FileasList = file1.readlines()
    
FileasList[1]

'this is line2\n'

## Writing files with open

In [8]:
file2 = open("examplewrite.txt", "r")
print(file2.read())
file2.close()
print(file2.closed)

line A
line B
line C
line A2
line B2
line C2

True

In [9]:
with open("examplewrite.txt", "w") as file2: #use mode "w" for writting
    file2.write("this is new line")
print(file2.closed)

True

In [10]:
with open("examplewrite.txt", "r") as file2:
    readfile2 = file2.read()
print(file2.closed)
print(readfile2) #previous content is overwritten if we used "w"

True
this is new line

In [11]:
#writing list onto file

Lines = ["line A\n", "line B\n", "line C\n"]
with open("examplewrite.txt", "w") as file2: 
    for line in Lines:
        file2.write(line)
        
print(file2.closed)

with open("examplewrite.txt", "r") as file2:
    readfile2 = file2.read()
print(file2.closed)
print(readfile2)

True
True
line A
line B
line C

In [12]:
Lines2 = ["line A2\n", "line B2\n", "line C2\n"]
with open("examplewrite.txt", "a") as file2: #use append
    for line in Lines2:
        file2.write(line)
        
print(file2.closed)

with open("examplewrite.txt", "r") as file2:
    readfile2 = file2.read()
print(file2.closed)
print(readfile2) #previous content is not overwritten

True
True
line A
line B
line C
line A2
line B2
line C2

In [13]:
#write content from one file to another

with open("examplewrite.txt", "r") as readfile:
    examplewrite12 = readfile.read()
    with open("newtext.txt", "w") as writefile:
        for lines in examplewrite12:
            writefile.write(lines) #write every line from readfile or "examplewrite" onto writefile or "newtext"
            
with open("examplewrite.txt", "r") as readfile:
    print(readfile.read())

with open('newtext.txt','r') as testwritefile:
    print(testwritefile.read())

line A
line B
line C
line A2
line B2
line C2

line A
line B
line C
line A2
line B2
line C2

In [14]:
# Writing a new file and saving in .txt format
file1 = open("createnewfile.txt","w")
L = ["This is Delhi \n","This is Paris \n","This is London \n"]
file1.writelines(L)
file1.close()

with open("createnewfile.txt", "r") as readfile:
    createnewfile101 = readfile.read()
print(createnewfile101)

This is Delhi
This is Paris
This is London

## Loading data with pandas

In [15]:
songs = {"Album":["a", "b", "c", "d"],
        "Released":[1982, 1980, 1973, 1982],
        "Length":["00:42:19", "00:42:11", "00:42:49", "00:42:11"]}

import pandas as pd
df = pd.DataFrame(songs)
df.head(1)

  Album  Released    Length
0     a      1982  00:42:19

In [16]:
df["Length"]

0    00:42:19
1    00:42:11
2    00:42:49
3    00:42:11
Name: Length, dtype: object

In [17]:
df

  Album  Released    Length
0     a      1982  00:42:19
1     b      1980  00:42:11
2     c      1973  00:42:49
3     d      1982  00:42:11

In [18]:
print(df.loc[0,"Album"])
print(df.iloc[1,0])

a
b

In [19]:
z = df.loc[0:1, "Album":"Length"] #slicing dataframe
z

  Album  Released    Length
0     a      1982  00:42:19
1     b      1980  00:42:11

## Working with and Saving data

In [20]:
songs = {"Album":["a", "b", "c", "d"],
        "Released":[1982, 1980, 1973, 1982],
        "Length":["00:42:19", "00:42:11", "00:42:49", "00:42:11"]}

import pandas as pd
df = pd.DataFrame(songs)
df

  Album  Released    Length
0     a      1982  00:42:19
1     b      1980  00:42:11
2     c      1973  00:42:49
3     d      1982  00:42:11

In [21]:
#to find array of data without duplicate (note that there are two year 1982 in df)
df["Released"].unique()

array([1982, 1980, 1973], dtype=int64)

In [22]:
df["Released"] #get column as series

0    1982
1    1980
2    1973
3    1982
Name: Released, dtype: int64

In [23]:
df[["Released"]] #get column as dataframe

   Released
0      1982
1      1980
2      1973
3      1982

In [24]:
df[["Released", "Length"]] #for multiple column

   Released    Length
0      1982  00:42:19
1      1980  00:42:11
2      1973  00:42:49
3      1982  00:42:11

In [25]:
df["Released"] >= 1980

0     True
1     True
2    False
3     True
Name: Released, dtype: bool

In [26]:
#we want to make df1 which consists of album with released year in 1980 or after

df1 = df[df["Released"] >= 1980 ]
df1

  Album  Released    Length
0     a      1982  00:42:19
1     b      1980  00:42:11
3     d      1982  00:42:11

In [27]:
#save file to csv
df1.to_csv("songs_after_1979.csv")

In [28]:
#export data from csv
df2 = pd.read_csv("songs_after_1979.csv")
df2

   Unnamed: 0 Album  Released    Length
0           0     a      1982  00:42:19
1           1     b      1980  00:42:11
2           3     d      1982  00:42:11